@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&family=Montserrat:wght@300;500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  list-style: none;
}
:root{

  --main-bg: #FF5B22;
  --secondary-bg: #6C5F5B;
  --third-bg: #4F4A45;
  --fourth-bg: #F6F1EE;

  --caption-font: 'Edu TAS Beginner';
  --fw-8: 800;
  --fw-6: 600;
  --fw-5: 500;
  --fw-4: 400;

  --transistion-motion: all .2s ease;
  
  --percent-100: 100%;
  --percent-50: 50%;

  --white-color: #fff;
  --black-color: #000;
  --grey-color: #ccc;

}

::-webkit-scrollbar{
  width: 0;
}
/****************************************************************/

/**************************************************************/
nav{
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  background: linear-gradient();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2015/07/27/13/34/bokeh-862559_1280.jpg");
}
.nav-container-links{
  display: flex;
  justify-content: space-between;
  padding: 10px 15% 10px;
}
.nav-container-links .nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-logo h1{
  font-size: 40px;
  font-weight: var(--fw-8);
  color: #fff;
}
.nav-links li a{
  color: #ffff;
  font-weight: 700;
  padding: .6rem 1rem;
  border-radius: 40px;
  border: 2px solid var(--grey-color);
}
.search-container{
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-container h3{
  font-size: 50px;
  margin-bottom: 1rem;
  color: var(--white-color);
}
.search-container .caption{
  color: #ffff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--caption-font);

  > .author{
    font-size: 16px;
    font-family: var(--caption-font);
    font-weight: 400;
    margin-top: .2rem;
    margin-left: 26rem;
    text-align: right;
  }
}
.search-container .input{
  margin-top: 1rem;
  width: 700px;
  background-color: #ccc;
  padding: 1.3rem 2rem;
  border-radius: 30px;
  outline: none;
  border: none;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: var(--third-bg);
}
.search-container .input::placeholder{
  color: var(--third-bg);
  font-weight: 700;
}

/********************************************************************************************************************************************/
.content-container h1{
  text-align: center;
  margin: 2rem;
  text-decoration: underline;
  text-decoration-color: orangered;
  text-underline-offset: .6rem;
}

.content-image{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
}
.content-image:first-child{
  grid-column-start: span 2;
  grid-row-start: span 2 ;

}
.content-image:nth-child(2n+3){
  grid-row-start: span 3 ;
}
.content-image img{
  width: 100%;
  object-fit: cover;
}

.login-container {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-top: 150px;
  margin-left: 600px;
}
.login-container form .login-title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.login-container form .login-title:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 82px;
  left: 0px;
  bottom: -4px;
  border-radius: 5px;
  background: linear-gradient(to right, orangered 0%, orangered 100%);
}
.login-container form .login-input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.login-container form .login-input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.login-container form .login-underline::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.login-container form .login-underline::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, orangered 0%, orangered 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.login-container form .login-input-box input:focus ~ .login-underline::after,
.login-container form .login-input-box input:valid ~ .login-underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.login-container form .login-button {
  margin: 40px 0 20px 0;
}
.login-container .login-input-box input[type="submit"] {
  background: linear-gradient(to right, orangered 0%, orangered 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-container .login-input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to left, black 0%, black 100%);
}
.login-container .login-option {
  font-size: 14px;
  text-align: center;
}

.login-container .login-facebook i,
.login-container .login-twitter i {
  padding-right: 12px;
  font-size: 20px;
}
.login-container .login-twitter a {
  background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.login-container .login-twitter a:hover {
  background: linear-gradient(to left, orangered 0%, orangered 100%);
  margin: 20px 0 15px 0;
}
.login-container .login-facebook a {
  background: linear-gradient(to right, orangered 0%, orangered 100%);
  margin: 20px 0 50px 0;
}
.login-container .login-facebook a:hover {
  background: linear-gradient(to left, orangered 0%, orangered 100%);
  margin: 20px 0 50px 0;
}
.login-option link{
  text-decoration: underline;
}
.join-container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-top: 150px;
  margin-left: 400px;
}
.join-container .join-title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.join-container .join-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  width: 135px;
  border-radius: 5px;
  background: linear-gradient(135deg, orangered, orangered);
}
.join-container .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.join-container .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.join-container .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.join-container .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.join-container .user-details .input-box input:focus,
.join-container .user-details .input-box input:valid {
  border-color: orangered;
}
.join-container .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
.join-container .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.join-container .category label
{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.join-container .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.join-container input[type="radio"] {
  display: none;
}
.join-container .button {
  height: 45px;
  margin: 35px 0;
}
.join-container .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, orangered, orangered);
}
.join-container .button input:hover {
  background: linear-gradient(-135deg, orangered, orangered);
}
@media (max-width: 584px) {
  .join-container {
    max-width: 100%;
  }
  .join-container .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .join-container .category {
    width: 100%;
  }
  .join-container .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .join-container .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .join-container .category {
    flex-direction: column;
  }
}
.join-input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.join-input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
    cursor: pointer;

}
.join-container form .join-input-box input:focus ~ .join-underline::after,
.join-container form .join-input-box input:valid ~ .join-underline::after {
  transform: scaleX(1);
  transform-origin: left;

}
.join-container .join-input-box input[type="submit"] {
  background: linear-gradient(to right, orangered 0%, orangered 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.join-container .join-input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to left, black 0%, black 100%);
}