@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

:root{
  --main-bg: white;
  --btn-color: blue;
}

nav{
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1481414981591-5732874c7193?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlJTIwbGlnaHR8ZW58MHx8MHx8fDA%3D');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12% 30px;
}

.nav-container-1 .hero-img button{
  padding: .6rem 1.2rem;
  border: none;
  border-radius: 20px;
}

.nav-container-1 .hero-img .btn-primary a{
  color: white;
  font-weight: 600;
}

.nav-container-1 .hero-img .upload-btn {
  border: 3px solid orangered;
  font-weight: 600;
  background-color: black;
  color: orangered;
  transition: all .10s ease-in-out;
}
.nav-container-1 .hero-img .upload-btn:hover{
  background-color: orangered;
  color: #000000;
}

.nav-container-1 .hero-img .btn-primary{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.nav-container-2 input{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  width: 800px;
  border-radius: 40px;
  border: none;
}

.nav-logo h1{
  color: #fff;
}

.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero-img img{
  width: 30px;
  height: 30px;
}
.nav-container-2 .container input{
  outline: none;
  font-size: 1rem;
  width: 700px;
  transition: all .2s ease;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.input:hover {
  border: 2px solid orangered;
  background-color: #000000;
  color: white;
  font-weight: 500;
}

.input:focus {
  border: 2px solid orangered;
  background-color: #000000;
  color: white;
}

.nav-container-1 button{
  cursor: pointer;
}
/*********************************************************************************************************************************************/
.content-container h1{
  text-align: center;
  margin: 2rem;
  text-decoration: underline;
  text-decoration-color: orangered;
  text-underline-offset: .6rem;
}
/* .content-image{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
}
.content-image:first-child{
  grid-column-start: span 2;
  grid-row-start: span 2 ;

}
.content-image:nth-child(2n+3){
  grid-row-start: span 3 ;
}
.content-image img{
  width: 100%;
  object-fit: cover;
} */